{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "jest": true
  },
  "extends": [
  ],
  "settings": {
    "propWrapperFunctions": [
      "forbidExtraProps"
    ]
  },
  "plugins": [
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 0,
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "backtick"
    ]
  }
}
